# Go binaries
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
bulletproof

# Go test coverage
*.out

# Go build artifacts
*.test
dist/

# Dependency directories
vendor/

# Go workspace files
go.work
go.work.sum

# IDE-specific files
.idea/
.vscode/
*.swp
*.swo
*~

# OS-specific files
.DS_Store
Thumbs.db

# Temporary files
tmp/
